.footer {
  margin-top: 30px;
  background-color: #2b2b2b;
  color: #fff;
  padding-bottom: 8px;
  display: block;

  p {
    font-family: "Lato", sans-serif;
    margin: 0;
    font-size: 1.5rem;
  }


  .footer-section {
    background-color: #f90069;
    margin-bottom: 32px;
    padding: 16px;
    width: 100%;
  }

  @media (min-width: 1024px) {
    .JyZxi {
      height: 100vh;
      flex-shrink: 1;
      pointer-events: auto;
      z-index: 0;
    }
  }

  ._1RQab {
    align-content: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  * {
    box-sizing: border-box;
  }

  section {
    display: block;
  }

  .footer {
    background-color: #2b2b2b;
    color: #fff;
    padding-bottom: 8px;
  }

  @media (min-width: 1024px) {
    .JyZxi {
      height: 100vh;
      flex-shrink: 1;
      pointer-events: auto;
      z-index: 0;
    }
  }

  @media (min-width: 1024px) {
    .footer-section {
      margin-bottom: 24px;
    }
  }

  @media (min-width: 768px) {
    .footer-section {
      height: 48px;
    }
  }

  ._3Ex1t {
    margin: 8px;
    flex-basis: 20%;
  }

  @media (min-width: 768px) {
    ._3Ex1t {
      margin: 0 32px 0 0;
      flex-basis: auto;
    }
  }

  //svg {
  //  width: 62;
  //  height: 20;
  //}
  svg:not(:root) {
    overflow: hidden;
  }

  ._22v1k {
    background-color: #2b2b2b;
    color: #fff;
    padding-bottom: 8px;
  }

  @media (min-width: 1024px) {
    ._3tCA4 {
      display: flex;
      justify-content: center;
    }
  }

  .UIeTC {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
    padding: 0 16px;
  }

  @media (min-width: 1024px) {
    .UIeTC {
      align-items: flex-start;
      flex-direction: row;
      padding-right: 32px;
    }
  }

  ._25e0n {
    cursor: pointer;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #fff;
  }

  @media (min-width: 1024px) {
    ._25e0n {
      margin-right: 32px;
    }
  }

  ._3F-hR {
    text-align: center;
  }

  @media (min-width: 1024px) {
    ._3F-hR {
      text-align: left;
    }
  }

  ._3ItN5 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  ._2hR-z {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    padding: 0 16px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1024px) {
    ._2hR-z {
      margin-top: -96px;
    }
  }

  ._3DV28 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 48px;
    font-weight: 700;
    margin-right: 24px;
    width: 48px;
    margin-bottom: 0;
  }

  .Vs2wQ {
    margin-right: 24px;
  }

  @media (min-width: 1024px) {
    .Vs2wQ {
      margin-right: 0;
      position: fixed;
      top: 16px;
      right: 16px;
      text-align: center;
      z-index: 1;
    }
  }

  ._1H0YX {
    order: 1;
  }

  @media (min-width: 1024px) {
    ._1H0YX {
      margin-bottom: 0;
      order: 2;
    }
  }

  ._3Lafp {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;
    padding: 0 16px;
  }

  ._3zRLD {
    text-align: center;
  }

  ._25vBo {
    color: #959595;
    font-size: 14px;
    margin-bottom: 24px;
    padding: 0 16px;
    text-align: center;
  }

  @media (min-width: 1024px) {
    ._25vBo {
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  ._2VCUP {
    display: grid;
    grid-template: 47px 47px /80px 80px;
    gap: 16px 32px;
    justify-content: center;
    margin-bottom: 24px;
  }

  @media (min-width: 768px) {
    ._2VCUP {
      grid-template: 47px /80px 80px 80px 80px;
    }
  }

  ._1sZH2 {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  ._1g_3B {
    margin-bottom: 24px;
  }

  ._1g_3B a {
    margin-right: 16px;
    color: #fff;
  }

  ._1g_3B a:last-child {
    margin-right: 0;
  }

  .nindH {
    margin-bottom: 24px;
  }

  @media (min-width: 1024px) {
    .nindH {
      display: flex;
      flex-direction: column;
    }
  }

  .Xq-jH {
    height: 48px;
    width: 96px;
  }

  .hBVQp {
    height: 48px;
    transition: transform .2s ease-in;
    width: 48px;
    will-change: transform;
  }

  @media (min-width: 1024px) {
    .hBVQp {
      height: 50px;
      width: 50px;
    }
  }
}