// COLORS


$color-blue: #00aae0;
$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 22px;
$tab-font-size: 18px;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$secondary-color: #65dcfb;